body {
	margin: 0;
	font-family: "Archivo", sans-serif;
}

button:not(.css-1e6y48t-MuiButtonBase-root-MuiButton-root.Mui-disabled) {
	background-color: #687c97 !important;
}

a {
	text-decoration: none;
	color: inherit;
}
